<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>model-模块</title>
 
    <link rel="stylesheet" href="../public/css/model_modular_lct.css">
</head>

<body>
    <div class="tishi"></div>
    <!-- fixed_popup -->
    <div class="out_mask">
        <!-- popup2 -->
        <div class="fixed_popup2" id="popup2">
            <div class="closex2">
            </div>
            <div class="title_pop2">
                model模块
            </div>
            <div class="info_list">
                <div class="infoi">
                    <div class="infoi_left">模型名称:</div>
                    <div class="infoi_right">
                        <input type="text" class="lxinput  modelName" placeholder="模型名称">
                    </div>
                </div>
                <div class="infoi">
                    <div class="infoi_left">数据库名:</div>
                    <div class="infoi_right">
                      
                      <select name="" id="" class="databaseName form-control"></select>
                    </div>
                </div>
                <div class="infoi">
                    <div class="infoi_left">表名:</div>
                    <div class="infoi_right">
                       <!--  <input type="text" class="mcinput modelTable" placeholder="请输入名称"> -->
                       <select name="" id="" class="modelTable form-control"></select>
                    </div>
                </div>
                <div class="statusout statusoutqy">
                    <div class="infoi_left">是否启用:</div>
                    <div class="infoi_right">
                        <input type="radio" name="status" value="1" class="inputradio radio1" />启用
                        <input type="radio" name="status" value="0" class="inputradio radio2" />禁用
                    </div>
                </div>
                <div class="statusout statusoutgk">
                    <div class="infoi_left">是否公开:</div>
                    <div class="infoi_right">
                        <input type="radio" name="isPublic" value="1" class="inputradio_gk radio1" />是
                        <input type="radio" name="isPublic" value="0" class="inputradio_gk radio2 radio22" />否
                    </div>
                </div>
                <div class="btn_p_2">
                    <div class="btn_qd" data-type="1">确定</div>
                    <div class="btn_qx gbl">取消</div>
                </div>
                <div class="xgczbf">
                    <div class="btn_qd2 btn_qd" data-type="2">确定</div>
                    <div class="btn_qx gbl2">取消</div>
                </div>
            </div>
        </div>
        <!-- popup2 -->
    </div>
    <!-- fixed_popup -->
    <div class="windowmain">
        <!-- 头 -->
        <header>
            <div class="toppart">
                <div class="top_inner w1200">
                    <div class="top_left">
                        <img src="../public/images/logo.png" alt="">
                        <span class="sptitle" title="gx">观星数据平台</span>
                        <a href="" class="fenqun">分群</a>
                    </div>
                    <div class="toprightpart po">
                        <span class="usericon"></span>
                        <span class="username">厉成韬</span>
                        <a href="" class="sx" title=""></a>
                        <a href="" class="tc" title=""></a>
                    </div>
                </div>
            </div>
        </header>
        <!-- 头 -->
        <!-- main -->
        <div class="content-main w1200">
            <div class="con-left">
            </div>
            <div class="con-right">
               
                <div class="select_part">
                    <div class="float">
                        <span class="sp_mz">ID</span>
                        <input type="text" name="" class="input1 input_cx_id" placeholder="请输入ID">
                    </div>
                    <div class="float">
                        <span class="sp_mz">模型名称</span>
                        <input type="text" name="" class="input1 input_cx_mxmc" placeholder="请输入模型名称">
                    </div>
                    <div class="float">
                        <span class="sp_mz">表名</span>
                        <input type="text" name="" class="input1 input_cx_bm" placeholder="请输入表名">
                    </div>
                    <div class="float">
                        <span class="sp_zt">状态</span>
                        <select name="" id="" class="floatse">
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                        </select>
                    </div>
                    <div class="poright" id="click_cx">
                        查询
                    </div>
                </div>
                <div class="table_lct">
                <a class="add">+增加</a>
                    <div class="title_list">
                        <span class="img_sp"></span>
                        <span class="title_sp">数据列表</span>
                    </div>
                    <div class="table_top">
                        <div class="parts_5">
                            <div class="part_01">ID</div>
                            <div class="part_01">模型名称</div>
                            <div class="part_01">数据库名称</div>
                            <div class="part_01">表名</div>
                            <div class="part_01">是否启用</div>
                            <div class="part_01">是否公开</div>
                            <div class="part_01">操作</div>
                        </div>
                    </div>
                    <div class="tablebody">
                        <div class="infonull">没有数据</div>
                        <div class="infodata">
                        </div>
                    </div>
                    <div class="pages_lct">
                        <div class="se_warp">
                            <span class="spmyxs">显示:</span>
                            <select name="" id="select001">
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                            </select>
                            <span class="spt">条</span>
                        </div>
                        <div class="warp1">
                            <ul id="myPage"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main -->
            <p class="last-p">COPYRIGHT © 2015 特维轮网络科技(杭州)有限公司版权所有 浙ICP备15012731号-2</p>
            <div class="tipslct">
            </div>
        </div>
        </div>
        <script src="../public/laypage/laypage.js"></script>
        <script src="../public/js/Seajs_3.0.0.js"></script>
        <script>
        seajs.use('../public/js/model_modular_lct.js?201607191136');
        </script>
</body>

</html>
