<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>整合操作</title>
    <link rel="stylesheet" href="../public/css/operator_all_lct.css">
</head>

<body>
    <div class="tishi"></div>
    <div class="windowmain">
        <!-- 头 -->
        <header>
            <div class="toppart">
                <div class="top_inner w1200">
                    <div class="top_left">
                        <img src="../public/images/logo.png" alt="">
                        <span class="sptitle" title="gx">观星数据平台</span>
                        <a href="" class="fenqun">分群</a>
                    </div>
                    <div class="toprightpart po">
                        <span class="usericon"></span>
                        <span class="username">厉成韬</span>
                        <a href="" class="sx" title=""></a>
                        <a href="" class="tc" title=""></a>
                    </div>
                </div>
            </div>
        </header>
        <!-- 头 -->
        <!-- main -->
        <div class="content-main w1200">
            <div class="con-left">
            </div>
            <div class="con-right">
                <div class="table_lct">
                    <div class="title_list">
                        <span class="img_sp"></span>
                        <span class="title_sp">数据添加</span>
                    </div>
                    <div class="tablebody">
                        <div class="nextinfo">
                            <div class="info_warp">
                                <div class="mcl">元素名称:</div>
                                <div class="part_01">
                                    <input type="text" placeholder="元素名称" class="ysmc">
                                </div>
                            </div>
                            <div class="info_warp">
                                <div class="mcl">元素单位:</div>
                                <div class="part_01">
                                    <input type="text" placeholder="元素单位" class="ysdw">
                                </div>
                            </div>
                            <div class="info_warp">
                                <div class="mcl">元素值类型:</div>
                                <div class="part_01">
                                    <select name="" id="selectTravelCity">
                                        <option value="">选择值类型</option>
                                        <option value="0">文本</option>
                                        <option value="1">列表</option>
                                        <option value="2">过滤列表</option>
                                        <option value="3">时间</option>
                                    </select>
                                </div>
                            </div>
                              <div class="info_warp">
                                <div class="mcl">操作符:</div>
                                <div class="part_01">
                                    <select name="" class="czf_add">
                                        <option value="">选择操作符</option>
                                     
                                    </select>
                                </div>
                            </div>
                            <div class="info_warp">
                                <div class="mcl">元素归属行为:</div>
                                <div class="part_01 ysgsxwmc"></div>
                            </div>
                            <div class="warp_01">
                                <div class="info_warp">
                                    <div class="mcl">元素状态:</div>
                                    <div class="part_01">
                                        <div class="jtdt">
                                        </div>
                                    </div>
                                </div>
                                <div class="info_warp">
                                    <div class="mcl">元素模型表:</div>
                                    <div class="part_01">
                                        <div class="mxb"></div>
                                    </div>
                                </div>
                                <div class="warp_02">
                                    <div class="info_warp">
                                        <div class="mcl">模型字段名称:</div>
                                        <div class="part_01">
                                            <div class="pobox">
                                                <div class="top">
                                                    <div class="mz1 bl">字段名称</div>
                                                    <div class="mz1">字段类型</div>
                                                </div>
                                                <div class="nextbox">
                                                </div>
                                            </div>
                                            <div class="djxzmxzd" data-id="">
                                                <span class="text_show">点击选择模型字段</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info_warp">
                                        <div class="mcl">模型字段类型:</div>
                                        <div class="part_01 lx_show_s">
                                            <span class="lx_show"></span>
                                        </div>
                                    </div>
                                    <div class="info_warp info_warp2">
                                        <div class="pobox2">
                                            <div class="mzdd">字段名称</div>
                                            <div class="nextbox2">
                                            </div>
                                        </div>
                                        <div class="mcl">聚合字段:</div>
                                        <div class="part_01 jhzdout">
                                            <div class="djxzmxzd2 djxzmxzdcom" data-id="">
                                                <span class="text_show2">点击选择聚合字段</span>
                                                <span class="appendzd"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info_warp info_warp2">
                                        <div class="pobox3">
                                            <div class="mzdd2">字段名称</div>
                                            <div class="nextbox3">
                                            </div>
                                        </div>
                                        <div class="mcl">分组字段:</div>
                                        <div class="part_01 fzzdout">
                                            <div class="djxzmxzd3 djxzmxzdcom" data-id="">
                                                <span class="text_show3">点击选择分组字段</span>
                                                <span class="appendzd2"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="save_btn">保存</div>
                    </div>
                </div>
            </div>
            <!-- main -->
            <p class="last-p">COPYRIGHT © 2015 特维轮网络科技(杭州)有限公司版权所有 浙ICP备15012731号-2</p>
            <div class="tipslct">
            </div>
        </div>
    </div>
    <script src="../public/js/Seajs_3.0.0.js"></script>
    <script>
    seajs.use('../public/js/operator_all_lct.js?201607191136');
    </script>
</body>

</html>
